@import url(fonts.css);

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Cormorant Garamond', serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Фон один для всего сайта */
body {
	background: url('../images/bg-2.jpg') center center / cover no-repeat fixed;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

/* Экран */
.page {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.page-indicators {
	--dot-size: 16px;

	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	display: flex;
	gap: 10px;
	z-index: 10;
}

.dot {
	width: var(--dot-size);
	height: var(--dot-size);
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: transform 0.3s ease, background 0.3s ease;
}

.dot.active {
	background: #fff;
	transform: scale(1.25);
}

.music-btn {
	width: var(--dot-size);
	height: var(--dot-size);
	color: white;
	cursor: pointer;
	border-radius: 100%;
	background: rgba(255,255,255,0.4);

	display: flex;
	align-items: center;
	justify-content: center;
}

.music-btn .icon {
	width: 60%;
	height: 60%;
	fill: white;
	display: none;
}

.music-btn .icon-play {
	display: block;
}

.music-btn.playing .icon-play {
	display: none;
}

.music-btn.playing .icon-pause {
	display: block;
	animation: pulse 1s infinite;
	transform: scale(1.25);
}

@keyframes pulse {
	0%   { transform: scale(1); }
	50%  { transform: scale(1.15); }
	100% { transform: scale(1); }
}
