@import url(shared-components.css);

.third-page-overlay {
	position: relative;
	background: rgba(77, 77, 77, 0.377);
	padding: 10px;
	max-width: 90%;
	text-align: center;
	border-radius: 14px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.9s ease, transform 0.9s ease;
}

.third-page-overlay.visible {
	opacity: 1;
	transform: translateY(0);
}

.third-page-header {
	font-family: 'Great Vibes';
	font-size: 36px;
	display: block;
	margin-top: 12px;
	color: white;
}

.third-page-content {
	font-family: 'Great Vibes';
	font-size: 24px;
	display: block;
	margin-top: 12px;
	color: white;
}